
.gallery{
    padding: 20px;
    padding-left: 0;
}

.gallery ul{
    display: flex;
    flex-direction: row;
}

.gallery ul li{
    margin-left: 25px;
}

.gallery ul li:first-child{
    margin-left: 0;
}

.gallery ul li a .s-gallery-images{
    border: 0.325rem solid #fff;
    border-radius: 15px;
    width: 10rem;
}